<h1 class="mt-4">Dashbaord</h1>
<p class="lead mb-3">Welcome sit1</p>
<p class="lead mb-3">Your are Logged In</p>
<a href="/" class="btn btn-primary">Home Page</a>
<a href="http://passport.example.com:9000/users/logout" class="btn btn-secondary">Logout</a>
